$blue-1: #4169e1;
$blue-2: #00bfff;
$grey-1: #777;
$white-1: #f7f7f7;
$white-2: #f0f8ff;
$white-3: #fffafa;
$green-1: #20b2aa;
$black: #000;
$font-size: 1.6rem;

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin shadow($v) {
    @if ($v==m) {
        box-shadow: 0 1rem 2rem rgba($black, $alpha: 0.5);
    }
}
@mixin text-gradient {
    background-image: linear-gradient(to left bottom, $blue-1, $blue-2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
@mixin shadow($value) {
    @if ($value == d) {
        box-shadow: 0 2rem 4rem rgba($black, 0.8);
    }
    @if ($value == m) {
        box-shadow: 0 1rem 3rem rgba($black, 0.5);
    }
    @if ($value == l) {
        box-shadow: 0 0.5rem 2rem rgba($black, 0.3);
    }
}
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {
            @content;
        }
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {
            @content;
        }
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) {
            @content;
        }
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) {
            @content;
        }
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    font-weight: 400;
    line-height: 1.7;
    box-sizing: border-box;

    body {
        font-family: "Lato", sans-serif;
        color: $grey-1;
    }
}
h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
h3 {
    font-size: 2rem;
    font-weight: 300;
}
h5 {
    @include text-gradient;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 400;
}
p {
    font-size: $font-size;
    letter-spacing: 1px;
}
a {
    &:link,
    &:visited {
        text-decoration: none;
        font-size: $font-size;
    }
}
header {
    position: relative;
    height: 0;
    input {
        visibility: hidden;
        &:checked {
            + label {
                span {
                    background-color: transparent;
                    background-image: none;
                    &::before,
                    &::after {
                        top: 0;
                    }
                    &::before {
                        transform: rotate(135deg);
                    }
                    &::after {
                        transform: rotate(-135deg);
                    }
                }
            }
            ~ .content {
                width: 100%;
                ul {
                    transform: scale(1) translate(-50%, -50%);
                }
            }
        }
    }
    label {
        top: 4rem;
        right: 4rem;
        width: 6rem;
        height: 6rem;
        display: flex;
        position: fixed;
        border-radius: 50%;
        align-items: center;
        background-color: $white-2;
        justify-content: space-around;
        box-shadow: 0 1rem 2rem rgba($black, 0.6);
        background-image: radial-gradient(rgba($blue-1, 0.5), rgba($green-1, 0.8));
        cursor: pointer;
        z-index: 2;
        &:hover {
            span {
                &::before {
                    top: -0.8rem;
                }
                &::after {
                    top: 0.8rem;
                }
            }
        }
        span {
            position: relative;
            &,
            &::before,
            &::after {
                display: inline-block;
                width: 2.7rem;
                height: 2px;
                background-image: linear-gradient($blue-1, $grey-1);
                background-color: $white-2;
                border-radius: 3px;
                transition: all 0.2s ease-out;
                // display: inline-block;
            }
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
            }
            &::before {
                top: -0.7rem;
            }
            &::after {
                top: 0.7rem;
            }
        }
    }
    .content {
        width: 0;
        height: 100vh;
        transition: all 0.2s ease-out;
        position: fixed;
        top: 0;
        right: 0;
        background-color: $white-2;
        background-image: radial-gradient(rgba($blue-2, 0.7), rgba($green-1, 0.7));
        z-index: 1;
        ul {
            @include center;
            transform: scale(0);
            transition: all 0.2s ease-out;
            list-style: none;
            font-size: 3rem;
            color: $white-2;
            li {
                padding: 1rem 2rem;
                text-transform: uppercase;
                font-weight: 300;
                cursor: pointer;
                background-size: 220%;
                transition: all 0.2s ease-out;
                background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $white-2 50%);
                &:hover {
                    background-position: 100%;
                    color: $blue-1;
                    transform: translateX(2rem);
                }
            }

            @include respond(tab-port) {
                width: 60%;
            }
            @include respond(phone) {
                font-size: 2rem;
                width: 85%;
            }
        }
    }
}
.loader {
    @include shadow(m);
    height: 95vh;
    width: 100%;
    background-image: linear-gradient(to right, rgba($blue-1, 0.6), rgba($blue-2, 0.8)), url(./assets/hero.jpg);
    background-size: cover;
    position: relative;
    .logo {
        img {
            width: 20rem;
            margin-top: -2rem;
            margin-left: -2rem;
            filter: invert(1);
        }
    }
    .hero {
        @include center();
        color: $white-1;
        width: 80%;
        text-align: center;
        h1 {
            font-weight: 700;
        }
        p {
            margin-top: 4rem;
        }
        a {
            margin-top: 10rem;
            &:link,
            &:visited {
                @include shadow(m);
                color: inherit;
                text-transform: uppercase;
                background-color: $green-1;
                padding: 2rem 3rem;
                border-radius: 50px;
                display: inline-block;
            }
            &:hover {
                @include shadow(d);
                transform: translateY(-0.7rem);
            }
            &:active {
                @include shadow(l);
                transform: translateY(-0.2rem);
            }
        }
        @include respond(tab-port) {
            margin-top: 5rem;
        }
        @include respond(phone) {
            h3 {
                margin-top: 5rem;
                font-size: 1.5rem;
            }
            h1 {
                font-size: 2rem;
            }
            a {
                font-size: 1.2rem;
                padding: 1rem 2rem;
                margin-top: 5rem;
            }
        }
    }
}
.service {
    padding: 20rem 10rem;
    display: flex;
    justify-content: space-around;
    background-color: $white-2;
    .card {
        @include shadow(m);
        width: 30rem;
        height: 40rem;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 3rem;
        transition: all 0.1s ease-out;
        &:hover {
            @include shadow(m);
            transform: translateY(-1rem) scale(1.05);
        }
        a {
            @include text-gradient;
            font-size: 10rem;
            display: inline-block;
            line-height: 1;
        }
    }
    h1 {
        @include text-gradient;
        font-weight: 900;
        font-size: 3rem;
        margin-top: 2rem;
    }
    p {
        font-size: $font-size;
        display: inline-block;
        margin-top: 2rem;
        text-align: justify;
        hyphens: auto;
    }
    @include respond(tab-land) {
        display: grid;
        grid-template-columns: 30rem 30rem;
        gap: 8rem;
        .card {
            // margin-bottom: 4rem;
            &:last-child {
                flex-direction: column;
            }
        }
    }
    @include respond(phone) {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        padding-left: 0;
        padding-right: 0;
        align-items: center;
    }
}
.details {
    @include shadow(l);
    margin-top: -15rem;
    padding: 30rem 15rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: radial-gradient(rgba($green-1, 0.2), rgba($blue-1, 0.2));
    transform: skewY(-10deg);
    & > * {
        transform: skewY(10deg);
    }
    .left {
        padding: 0 3rem;
        h5 {
            margin-bottom: 2rem;
        }
        p {
            font-size: 1.8rem;
            font-weight: 300;
            text-align: justify;
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
    }

    .right {
        padding: 0 3rem;
        h5 {
            @include text-gradient;
            font-size: 1.6rem;
            text-transform: uppercase;
            font-weight: 400;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
        p {
            font-size: 1.8rem;
            font-weight: 300;
            text-align: justify;
            display: inline-block;
            margin-bottom: 2rem;
        }
    }
    @include respond(tab-land) {
        padding: 20rem 5rem;
    }
    @include respond(tab-port) {
        padding: 20rem 2rem;
        .left {
            padding: 0 1.5rem;
        }
        .right {
            padding: 0 1.5rem;
        }
    }
    @include respond(phone) {
        flex-direction: column;
        row-gap: 5rem;
    }
}
.repair {
    padding: 25rem 20rem;
    background-color: $white-2;
    margin-top: -15rem;
    h1 {
        @include text-gradient;
        text-align: center;
        font-weight: 400;
        margin-bottom: 4rem;
    }
    .content-1 {
        background-size: 100%;
        box-shadow: 0 1rem 2rem rgba($black, 0.3);
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        background-position: bottom;
        overflow: hidden;
        .p1 {
            display: flex;
            justify-content: space-between;
        }
        .p-con {
            padding: 4rem 6rem;
            width: 50%;
            h5 {
                margin-bottom: 1.5rem;
            }
            p {
                font-size: 1.8rem;
                font-weight: 300;
                letter-spacing: 1px;
                text-align: justify;
                hyphens: auto;
                margin-bottom: 0.5rem;
            }
            ul {
                margin-left: 3rem;
                font-size: 1.7rem;
                font-weight: 300;
                li {
                    text-align: justify;
                }
            }
        }
        img {
            width: 50%;
            object-fit: cover;
            clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
        }
        .img2 {
            clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
            object-fit: cover;
        }
    }

    @include respond(tab-land) {
        padding: 20rem 2rem;
        .content-1 {
            .p-con {
                padding: 2rem 1rem;
            }
        }
    }
    @include respond(tab-port) {
        .content-1 {
            .p-con {
                padding: 4rem 6rem;
                width: 100%;
            }
            img {
                width: 0;
                height: 0;
            }
        }
    }
    @include respond(phone) {
        .content-1 {
            .p-con {
                padding: 3rem 1rem;
            }
        }
    }
}
.experience {
    position: relative;
    padding: 10rem;
    .video {
        opacity: 0.3;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        video {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        z-index: -1;
    }
    h1 {
        @include text-gradient;
        text-align: center;
        font-weight: 900;
        z-index: -3;
        margin-bottom: 5rem;
    }
    .story {
        width: 60%;
        margin: 0 auto;
        padding: 5rem;
        padding-left: 7rem;
        margin-bottom: 10rem;
        transform: skewX(-15deg);
        background-color: rgba($white-2, $alpha: 0.6);
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        @include shadow(m);
        & > * {
            transform: skewX(15deg);
        }

        .shape {
            height: 11rem;
            width: 11rem;
            shape-outside: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            transform: translateX(-2rem) skewX(15deg);
            position: relative;
            float: left;
            img {
                width: 100%;
                backface-visibility: hidden;
                transform: translateY(-1.5rem);
                transition: all 0.2s ease-out;
            }
            figcaption {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, 20%);
                opacity: 0;
                color: $white-2;
                font-size: $font-size;
                text-align: center;
                transition: all 0.2s ease-out;
            }
        }
        &:hover {
            img {
                filter: blur(3px) brightness(85%);
            }
            figcaption {
                transform: translate(-50%, -50%);
                opacity: 1;
            }
        }
    }
    @include respond(tab-land) {
        h1 {
            font-size: 3rem;
        }
        .story {
            width: 100%;
        }
    }
    @include respond(tab-port) {
        padding: 4rem 1rem;
        h1 {
            font-size: 2.5rem;
            letter-spacing: 0.1px;
            font-weight: 400;
        }
        .story {
            transform: skewX(0);
            & > * {
                transform: skewX(0);
            }
            .shape {
                transform: translateX(-2rem) skewX(0);
            }
        }
    }
    @include respond(phone) {
        h1 {
            font-size: 2rem;
            letter-spacing: 0.1px;
            font-weight: 400;
        }
        .story {
            padding: 2rem;
            .shape {
                transform: translateX(-1rem) skewX(0);
            }
        }
    }
}
.booking {
    padding: 20rem;
    background-image: radial-gradient(rgba($green-1, 0.2), rgba($blue-1, 0.2));
    .form {
        @include shadow(m);
        width: 80%;
        height: 50rem;
        margin: 0 auto;
        padding: 3rem 5rem;
        h1 {
            @include text-gradient;
            text-align: center;
            font-weight: 300;
            margin-bottom: 4rem;
        }
        .group {
            width: 50%;
            display: flex;
            flex-direction: column;
            &:not(:last-child) {
                margin-bottom: 3rem;
            }
            input {
                padding: 1.5rem 2rem;
                font-family: inherit;
                border: none;
                font-size: $font-size;
                border-radius: 3px;
                margin-bottom: 1rem;
                transition: all 0.2s ease-out;
                border-bottom: 3px solid transparent;
                &:focus {
                    @include shadow(m);
                    outline: none;
                    border-bottom: 3px solid $green-1;
                    &:placeholder-shown {
                        &:invalid {
                            border-bottom: 3px solid orangered;
                        }
                    }
                }
                &:placeholder-shown {
                    + label {
                        transform: translateY(-3rem);
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
            label {
                margin-left: 2rem;
                font-size: $font-size;
                text-transform: uppercase;
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
                transition: all 0.2s ease-out;
            }
        }
        button {
            border: none;
            padding: 1rem 2rem;
            border-radius: 3px;
            background-image: radial-gradient(rgba($green-1, 0.5), rgba($blue-1, 0.5));
            font-size: $font-size;
            color: $white-2;
            text-transform: uppercase;
            @include shadow(l);
            &:hover {
                @include shadow(m);
                transform: translateY(-0.5rem);
            }
            &:active {
                @include shadow(l);
                transform: translateY(0);
            }
        }
    }
    @include respond(tab-land) {
        .form {
            h1 {
                font-size: 3rem;
            }
            .group {
                width: 100%;
            }
        }
    }
    @include respond(tab-port) {
        padding: 16rem 10rem;
        .form {
            width: 100%;
            h1 {
                font-size: 2.5rem;
            }
            .group {
                width: 100%;
            }
        }
    }
    @include respond(phone) {
        padding: 10rem 3rem;
        .form {
            width: 100%;
            h1 {
                font-size: 2rem;
            }
            .group {
                width: 100%;
            }
        }
    }
}
footer {
    padding: 3rem;
    text-align: center;
}
